<h1 style="color:white;text-align:center;margin-bottom:10px">
   Liked Posts
</h1>
<div style="display:flex;flex-direction:row;gap:15px;width:100%;overflow-y:auto;scrollbar-width: none;margin-bottom:50px">
    <% current_user.likes.map(&:post).each do |post|%>
        <div style="width:400px;height:530px;overflow-y:auto;scrollbar-width: none;padding:15px">
            <div class="insta__container insta__post">
            <!-- Insta-post start -->
            <section class="insta__header insta__post_header">
                <div class="insta__icon-wrap insta__post_icon-wrap">
                <% if post.user.avatar.attached? %>
                    <%= link_to user_path(post.user) do %>
                    <%= image_tag post.user.avatar ,class: "insta__mini_icon insta__post_icon" %>
                    <% end %>
                <% end %>
                </div>
                
                <span class="insta__post_text-bold">
                    <%= link_to post.user.name, user_path(post.user), style: 'text-decoration:none;color:black;' %>
                </span>

                <!-- follow/unfollow button -->
                <div style="margin-left:150px;">  
                <% if current_user != post.user %>
                    <% if current_user.following?(post.user) %>
                    <%= button_to "Unfollow", unfollow_user_path(post.user), method: :post,class: "btn btn-outline-danger btn-sm" %>
                    <% else %>
                    <%= button_to "Follow", follow_user_path(post.user), method: :post,class: "btn btn-outline-primary btn-sm" %>
                    <% end %>
                <% end %>
                </div>
            </section>

            <!-- Post Image -->
            <section class="insta__post_photos">
                <% if post.image&.attached? %>
                <% if post.image.content_type.start_with?("video") %>
                    <video class="insta__post_photo" controls preload="metadata" style="width: 100%; border-radius: 10px;">
                    <source src="<%= url_for(post.image) %>" type="<%= post.image.content_type %>">
                    Your browser does not support the video tag.
                    </video>
                <% else %>
                    <%= image_tag url_for(post.image), class: "insta__post_photo", alt: "post image" %>
                <% end %>
                <% else %>
                <img src="https://www.bing.com/th/id/OIP.tZq4FbHI-2VuBSGkHjfyfAHaHa?w=157&h=211&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" class="insta__post_photo" alt="placeholder">
                <% end %>
            </section>

            <!-- Post Buttons -->
            <section class="insta__post_btns">
                <div class="insta__post_btns-left">
                <div class="d-flex justify-content-between align-items-center px-3 py-2 gap-4" style="font-size: 1.4rem;">
                <% if current_user.likes.exists?(post_id: post.id) %>
                    <%= button_to dislike_posts_path(post), method: :post,style:"", class: "btn p-0 border-0 bg-transparent text-danger  " do %>
                    <i class="fas fa-heart fa-2x"></i> 
                    <% end %>
                <% else %>
                    <%= button_to like_posts_path(post), method: :post, class: "btn p-0 border-0 bg-transparent" do %>
                    <i class="far fa-heart fa-2x"></i> 
                    <% end %>
                <% end %>
                <%= button_to like_posts_path(post), method: :post, class: "btn p-0 border-0 bg-transparent" do %>
                    <i class="far fa-paper-plane fa-2x"></i>
                <% end %>
                <button class="btn p-0 border-0 bg-transparent toggle-comments-btn" data-bs-toggle="collapse" data-bs-target="#comments-<%= post.id %>">
                    <i class="far fa-comment fa-2x"></i>
                </button>
                </div>
            </section>

            <!-- Post Comments -->
            <section class="insta__post_comm insta__post_comm_aut">
                <span class="insta__post_text-bold"><%= post.likes.count %> liked and <%= post.comments.select { |c| c.parent_id.nil? }.count%> commented on this post</span>
                <div class="insta__post_comm_author">
                <span class="insta__post_text-bold"><%= post.user.name %></span>
                <% post.description.to_s.split(' ').each do |word| %>
                <% if word.start_with?('#') %>
                    <%= link_to word, search_path(query: word) %>
                <% else %>
                    <%= word %>
                <% end %>
                <% end %>
                </div>
            </section>

            <!-- Comment Field -->
            
            <div class="collapse mt-2 " id="comments-<%= post.id %>">
        
            <%= form_with url: create_comment_path(post),method: :post, local: true do |f| %>
                <div class="input-group mt-3 mb-3">
                <%= f.text_field :content, placeholder: "Add a new comment...", class: "form-control" %>
                <%= f.submit nil, class: "btn btn-primary" do %>
                    Comment
                <% end %>
                </div>
            <% end %>
            <% post.comments.where(parent_id: nil).each do |comment| %>
                <%= render partial: 'comment', locals: { comment: comment, depth: 0 } %>
            <% end %>
            </div>
            </div>
        </div>
    <% end %>
</div>